.container {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background: #f2f2f2;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
}

.containerSmall {
  composes: container;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 0 2px 0 #ccc inset;
}
